migrations
migrations/
**/migrations/
**/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__
__pycache__/
**/__pycache__/**
!**/__pycache__
*.pyc
.pyc 

node_modules
.vscode




