{{order_admin_url}}

Імя: {{model.name}}
Емейл: {{model.email}}
Телефон: {{model.phone}}
Адреса: {{model.address}}
Коментарі: {{model.comments}}
Спосіб оплати: {{model.payment_opt}}
Спосіб доставки: {{model.delivery_opt}}

Товари:
{% for cart_item in cart_items %}
{{forloop.counter}}) {{cart_item.item.title}}  {{cart_item.quantity}} шт 
{% if cart_item.get_attributes.exists %}
Атрибути:
    {% for attribute in cart_item.get_attributes %}
    {% if attribute.attribute_name.is_option %}
    {{attribute.attribute_name.attribute.name}}: 
    {% for attribute_value in attribute.values.all %} 
        + {{attribute_value.value}};
    {% endfor %}
    {% else%}
    {{attribute.attribute_name.attribute.name}}: {{attribute.value.value}}
    {% endif %}
    {% endfor %}
{% endif %}
{% endfor %}
